$color-grey-1: #f2f5f8;
$color-grey-2: #e8eef3;
$color-grey-3: #dbe5ec;
$color-grey-4: #c0cfde;
$color-grey-5: #7f95aa;
$color-grey-6: #5d768f;
$color-grey-7: #1c2936;

.bg-grey-1 {
  background-color: $color-grey-1;
}
.bg-grey-2 {
  background-color: $color-grey-2;
}
.bg-grey-3 {
  background-color: $color-grey-3;
}
.bg-grey-4 {
  background-color: $color-grey-4;
}
.bg-grey-5 {
  background-color: $color-grey-5;
}
.bg-grey-6 {
  background-color: $color-grey-6;
}
.bg-grey-7 {
  background-color: $color-grey-7;
}

$color-primary-1: #5700b5;
$color-primary-2: #3e0082;
$color-primary-3: #2b0059;

.bg-primary-1 {
  background-color: $color-primary-1
}
.bg-primary-2 {
  background-color: $color-primary-2;
}
.bg-primary-3 {
  background-color: $color-primary-3;
}

$color-secondary-1: #d45c64;
$color-secondary-2: #c8353f;
$color-secondary-3: #a02a32;
$color-secondary-4: #7e1920;

.bg-secondary-1 {
  background-color: $color-secondary-1;
}
.bg-secondary-2 {
  background-color: $color-secondary-2;
}
.bg-secondary-3 {
  background-color: $color-secondary-3;
}
.bg-secondary-4 {
  background-color: $color-secondary-4;
}

$color-accent-1: #009ea8;

.bg-accent-1 {
  background-color: $color-accent-1;
}
